<div class="w-full bg-gray-900 py-4 px-6 text-center">
  <div class="mx-auto md:mx-4">
    <img src="{{- config.icon | url -}}"
         class="block md:inline-block mx-auto mb-4 md:mb-3 mt-3 h-16"
         alt="{{- config.name -}}"
    />
  </div>

  <div class="mx-auto text-center text-bold">
    {%- for entry in config.footer -%}
      <a href="{{ entry.url | url }}"
         class="transition block md:inline-block text-white hover:text-gray-300
                mx-3 my-1 md:my-2"
      >
        {{- entry.name -}}
      </a>
    {%- endfor -%}
  </div>

  <p class="w-full text-white text-xs pt-4">
    &#169; {{ config.copyright }}
  </p>
</div>
