{% comment %} <div class="container-fluid bg-dark text-white font-weight-bold py-3"> {% endcomment %}
{% comment %}   <div class="row"> {% endcomment %}
{% comment %}     <div class="col-12 text-center pb-1" style="font-size: 1.75rem"> {% endcomment %}
{% comment %}       {%- if config.social.facebook -%} {% endcomment %}
{% comment %}       <a class="footer__social-link" href="{{ config.social.facebook }}" title="Facebook"> {% endcomment %}
{% comment %}         <i class="fab fa-facebook"></i> {% endcomment %}
{% comment %}       </a> {% endcomment %}
{% comment %}       {%- endif -%} {% endcomment %}

{% comment %}       {%- if config.social.instagram -%} {% endcomment %}
{% comment %}       <a class="footer__social-link" href="{{ config.social.instagram }}" title="Instagram"> {% endcomment %}
{% comment %}         <i class="fab fa-instagram"></i> {% endcomment %}
{% comment %}       </a> {% endcomment %}
{% comment %}       {%- endif -%} {% endcomment %}

{% comment %}       {%- if config.social.linkedin -%} {% endcomment %}
{% comment %}       <a class="footer__social-link" href="{{ config.social.linkedin }}" title="LinkedIn"> {% endcomment %}
{% comment %}         <i class="fab fa-linkedin"></i> {% endcomment %}
{% comment %}       </a> {% endcomment %}
{% comment %}       {%- endif -%} {% endcomment %}

{% comment %}       {%- if config.social.github -%} {% endcomment %}
{% comment %}       <a class="footer__social-link" href="{{ config.social.github }}" title="GitHub"> {% endcomment %}
{% comment %}         <i class="fab fa-github"></i> {% endcomment %}
{% comment %}       </a> {% endcomment %}
{% comment %}       {%- endif -%} {% endcomment %}
{% comment %}     </div> {% endcomment %}
{% comment %}     <div class="col-12 text-center"> {% endcomment %}
{% comment %}       &#169; {{ config.author }} {{ config.year }} {% endcomment %}
{% comment %}     </div> {% endcomment %}
{% comment %}   </div> {% endcomment %}
{% comment %} </div> {% endcomment %}
