---
layout: default.liquid
title: pyribs
description: A bare-bones Python library for quality diversity optimization.
changeFreq: weekly
tutorials:
  - name: Using CMA-ME to Land a Lunar Lander Like a Space Shuttle
    url: https://docs.pyribs.org/en/latest/tutorials/lunar_lander.html
    img: /imgs/lunar-lander.png
  - name: Illuminating the Latent Space of an MNIST GAN
    url: https://docs.pyribs.org/en/latest/tutorials/lsi_mnist.html
    img: /imgs/lsi-mnist.png
    pixelate: true
  - name: Learning a Repertoire of Robot Arm Configurations
    url: https://docs.pyribs.org/en/latest/tutorials/arm_repertoire.html
    img: /imgs/arm-repertoire-example.png
  - name: Generating Images to Fool an MNIST Classifier
    url: https://docs.pyribs.org/en/latest/tutorials/fooling_mnist.html
    img: /imgs/fooling-mnist.png
    pixelate: true
install:
  choices:
    - name: Distribution
      opts:
      - name: Base
        id: i-base
      - name: Full
        id: i-full
        checked: true
    - name: Package
      opts:
      - name: Pip
        id: i-pip
        checked: true
      - name: Source
        id: i-source
  commands:
    - ids: [i-base, i-pip]
      steps:
      - "pip install ribs"
    - ids: [i-full, i-pip]
      steps:
      - "pip install ribs[all]"
    - ids: [i-base, i-source]
      steps:
      - git clone https://github.com/icaros-usc/pyribs
      - cd pyribs
      - pip install .
    - ids: [i-full, i-source]
      steps:
      - git clone https://github.com/icaros-usc/pyribs
      - cd pyribs
      - pip install .[all]
---

<div class="__index__">
  {% comment %} Logo and Background Video {% endcomment %}
  <div class="block p-5
              bg-white bg-bottom bg-no-repeat bg-cover"
       style="background-image: url({{"imgs/lunar-lander.gif" | url}});
              min-height: calc(400/600 * 100vw * 0.6);">
    <div class="my-24">
      <img class="mx-auto mb-4 font-thin w-full max-w-lg"
           src="{{- "/imgs/logo.svg" | url -}}"
           alt="{{- title -}}"
      />
      <p class="text-2xl mb-4 text-white text-center">{{- description -}}</p>
      <div class="flex flex-wrap justify-center mx-auto">
        <a href="#installation"
           title="Install pyribs"
           class="header-link h-12 w-5/6 sm:w-36 rounded-full mb-2.5">
          Install
        </a>
        <a href="https://docs.pyribs.org/en/latest/tutorials.html"
           title="Visit the tutorials"
           class="header-link h-12 w-5/6 sm:w-36 rounded-full mb-2.5">
          Tutorials
        </a>
      </div>
      <div class="flex flex-wrap justify-center mx-auto">
        {%- for s in config.social -%}
          <a href="{{- s.url | url -}}"
             title="{{- s.name -}}"
             class="header-link h-12 w-12 rounded-full">
            <i class="{{ s.fa }} mx-auto"></i>
          </a>
        {%- endfor -%}
      </div>
    </div>
  </div>

  <div class="bg-white feature">
    <div class="feature-content lg:flex lg:items-center">
      <div class="lg:w-1/3 lg:pr-2">
        <h2>Efficient Illumination</h2>
        <p class="mb-4">
          pyribs is the official implementation of the Covariance Matrix
          Adaptation MAP-Elites (CMA-ME) algorithm.
        </p>
      </div>
      <div class="lg:w-2/3">
        <video autoplay muted playsinline loop
          class="hidden sm:block mx-auto"
          src="{{ '/imgs/comparison.mp4' | url }}" type="video/mp4">
        </video>
        {% comment %}
          These show two portions of the same video, so that the heatmaps can be
          stacked. The padding-bottom is based on video size.
        {% endcomment %}
        <div class="sm:hidden mx-auto bg-no-repeat bg-cover bg-left"
             style="background-image: url({{ 'imgs/comparison.gif' | url }});
                    width: 100%; height: 0; padding-bottom: calc(660 / 800 * 100%);">
        </div>
        <div class="sm:hidden mx-auto bg-no-repeat bg-cover bg-right"
             style="background-image: url({{ 'imgs/comparison.gif' | url }});
                    width: 100%; height: 0; padding-bottom: calc(660 / 800 * 100%);">
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-100 feature">
    <div class="feature-content">
      <h2>Flexible Components</h2>
      <p>
        Every quality diversity (QD) algorithm in pyribs consists of three
        components.
      </p>
      <div class="lg:flex">
        <div class="component lg:pr-4">
          <div class="shadow">
{% clipboard %}
{% highlight python %}
from ribs.archives import GridArchive

archive = GridArchive(
  dims=[20, 20],
  ranges=[(-1, 1), (-1, 1)],
)
{% endhighlight %}
{% endclipboard %}
            <p class="p-3 sm:h-28 bg-white">
              An <a href="https://docs.pyribs.org/en/latest/api/ribs.archives.html">
              <b>Archive</b></a> saves the best representatives generated within
              behavior space.
            </p>
          </div>
        </div>

        <div class="component lg:px-2">
          <div class="shadow">
{% clipboard %}
{% highlight python %}
from ribs.emitters import ImprovementEmitter

emitters = [
  ImprovementEmitter(
    archive,
    x0=[0.0] * 10,
    sigma0=0.1,
  )
]
{% endhighlight %}
{% endclipboard %}
            <p class="p-3 sm:h-28 bg-white">
              <a href="https://docs.pyribs.org/en/latest/api/ribs.emitters.html">
              <b>Emitters</b></a> control how new candidate solutions are
              generated and affect if the algorithm prioritizes quality or
              diversity.
            </p>
          </div>
        </div>

        <div class="component lg:pl-4">
          <div class="shadow">
{% clipboard %}
{% highlight python %}
from ribs.optimizers import Optimizer

optimizer = Optimizer(archive, emitters)
{% endhighlight %}
{% endclipboard %}
            <p class="p-3 sm:h-28 bg-white">
              An <a href="https://docs.pyribs.org/en/latest/api/ribs.optimizers.html">
              <b>Optimizer</b></a> joins the <b>Archive</b> and <b>Emitters</b>
              together and acts as a scheduling algorithm for emitters.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white feature">
    <div class="feature-content md:flex md:items-center">
      <div class="md:w-1/3 md:inline-block md:pr-4">
        <h2>Intuitive Usage</h2>
        <p class="md:pb-4">
          pyribs components come together in an intuitive ask-tell interface
          inspired by <a href="https://pypi.org/project/cma/">pycma</a>.
        </p>
      </div>
      <div class="md:w-2/3 md:inline-block md:pl-2">
        <div class="my-5">
{% clipboard %}
{% highlight python %}
import numpy as np

for itr in range(1000):
    solutions = optimizer.ask()

    # Optimize the 10D negative Sphere function.
    objectives = -np.sum(np.square(solutions), axis=1)

    # BCs: first 2 coordinates of each 10D solution.
    bcs = solutions[:, :2]

    optimizer.tell(objectives, bcs)
{% endhighlight %}
{% endclipboard %}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-100 px-4 py-10">
    <div class="feature-content md:flex md:items-center">
      <div class="md:w-1/2 md:pr-4">
        <h2>Insightful Visualizations</h2>
        <p>
          The pyribs
          <a href="https://docs.pyribs.org/en/latest/api/ribs.visualize.html">
          visualize</a> module integrates with
          <a href="https://matplotlib.org/">Matplotlib</a> to plot a heatmap of the
          archive after each experiment.
        </p>
        <div class="my-5">
{% clipboard %}
{% highlight python %}
import matplotlib.pyplot as plt
from ribs.visualize import grid_archive_heatmap

grid_archive_heatmap(archive)
plt.show()
{% endhighlight %}
{% endclipboard %}
        </div>
      </div>
      <div class="md:w-1/2">
        <img class="mx-auto xl:w-5/6"
             alt="Grid Archive Heatmap for the Sphere function"
             src="{{ 'imgs/sphere-heatmap.png' | url }}" />
      </div>
    </div>
  </div>

  <div class="bg-white feature" id="installation">
    <div class="feature-content md:flex md:items-center">
      <div class="md:w-1/3 mb-4 md:pr-6">
        <h2>Easy Installation</h2>
        <p>
          pyribs supports Python 3.6-3.8. The full version of pyribs adds the
          visualize module.
        </p>
      </div>
      <div class="md:w-2/3 flex">

        <div class="w-full flex flex-wrap">
          {%- for choice in install.choices -%}
          <p class="w-full md:w-12/60
                    border-black border-b md:border-4 md:border-white
                    my-2 md:my-0 md:py-2">
          {{- choice.name -}}
          </p>

          {% comment %}
            Name takes up 12/60, so each part here takes up some portion of 48.

            Including these here so that Tailwind picks them up and does not
            purge them (this is important because optWidth is a variable value
            below).

              md:w-12/60  md:w-16/60  md:w-24/60  md:w-48/60
          {% endcomment %}
          {%- assign optWidth = 48 | divided_by: choice.opts.size -%}

          {%- for opt in choice.opts -%}
          <input type="radio" id="{{- opt.id -}}" name="{{- choice.name -}}"
                 {% if opt.checked %}checked="checked"{% endif %}
                 class="hidden">
          <label for="{{- opt.id -}}"
                 class="bg-gray-100 w-full md:w-{{- optWidth -}}/60 pl-4 py-2
                        border-4 border-white">
            {{- opt.name -}}
          </label>
          {%- endfor -%}
          {%- endfor -%}

          <p class="w-full border-black border-b my-2 md:mx-1 md:mt-4">
            Command
          </p>

          {%- for cmd in install.commands -%}
          {%- assign cmd_id = cmd.ids | join: "_" -%}
          <div id="{{- cmd_id -}}" class="w-full hidden">
            {% comment %}
              Manually highlight the code block because variables like cmd.steps
              would be treated as raw in a highlight tag / shortcode.
            {% endcomment %}
{% clipboard %}
<pre class="language-bash border-white border-4"><code class="language-bash">
{%- for s in cmd.steps -%}<span class="token">{{- s -}}</span><br/>{%- endfor -%}
</code></pre>
{% endclipboard %}
          </div>
          <style>
            {% comment %}
              Style which displays the command when appropriate buttons are
              selected.
            {% endcomment %}
            #{{ cmd.ids | join: ":checked ~ #" }}:checked ~ #{{ cmd_id }} {
              display: block;
            }
          </style>
          {%- endfor -%}
        </div>

      </div>
    </div>
  </div>

  <div class="bg-gray-100 feature">
    <div class="feature-content pb-2">
      <h2>Comprehensive Tutorials</h2>
      <p>
        Learn more about pyribs in the
        <a href="https://docs.pyribs.org/en/latest/tutorials.html">tutorials</a>.
        All tutorials are also available on
        <a href="https://colab.research.google.com/github/icaros-usc/pyribs/blob/master/">
        Google Colab</a>.
      </p>
      <div class="text-center">
      {%- for t in tutorials -%}
        <a class="w-72 block md:inline-block mx-auto md:mx-4 mt-8
                  cursor-pointer shadow max-w-full bg-white"
           href="{{ t.url | url }}">
          <img class="w-full"
               style="{%- if t.pixelate -%}image-rendering: pixelated{%- endif -%}"
               alt="{{ t.name }}" src="{{ t.img | url }}" />
          <p class="bg-white p-4 border-t-2 border-gray-100">
            {{- t.name -}}
          </p>
        </a>
      {%- endfor -%}
      </div>
    </div>
  </div>

</div>
