---
layout: default
title: Publications
---

<div class="__publications__ p-4 w-full">

<h2 class="text-4xl font-light mt-6 mb-3 pl-2">Citing pyribs</h2>
<div class="pl-2">
  <p>
    If you use pyribs in your research, please cite it as follows. Note that you
    will need to include the
    <a href="https://www.overleaf.com/learn/latex/Hyperlinks#Linking_web_addresses">hyperref</a>
    package in order to use the <code>\url</code> command.
  </p>
{% clipboard %}
{% highlight tex %}
@misc{pyribs,
  title = {pyribs: A bare-bones Python library for quality diversity
           optimization},
  author = {Bryon Tjanaka and Matthew C. Fontaine and Yulun Zhang and
            Sam Sommerer and Stefanos Nikolaidis},
  year = {2021},
  publisher = {GitHub},
  journal = {GitHub repository},
  howpublished = {\url{https://github.com/icaros-usc/pyribs}},
}
{% endhighlight %}
{% endclipboard %}
</div>

{%- for section in publications -%}

  <h2 class="text-4xl font-light mt-6 mb-3 pl-2">
    {{- section.title -}}
  </h2>
  {%- if section.message -%}
  <p class="pl-2 mb-2">
    {{- section.message -}}
  </p>
  {%- endif -%}
  <div class="w-full">
    {%- assign entries = section.entries | reverse -%}
    {%- for e in entries -%}
    <a href="{{- e.url -}}"
       class="flex flex-wrap group px-2 py-3 border-t-2 border-gray-100 w-full
              text-black">
      <div class="w-full md:w-7/12">
        <p class="font-bold md:mb-1 group-hover:text-secondary">
          {{- e.title -}}
        </p>
        <p class="text-base md:text-sm text-gray-500">
          {{- e.authors -}}
        </p>
      </div>
      <p class="text-sm md:text-base text-gray-500 md:group-hover:text-secondary
                w-5/6 md:w-1/3 md:pl-6">
        {{- e.container -}}<span class="md:hidden">, {{ e.year }}</span>
      </p>
      <p class="hidden md:block text-gray-500 md:group-hover:text-secondary
                text-right w-1/6 md:w-1/12">
        {{- e.year -}}
      </p>
    </a>
    {%- endfor -%}
  </div>

{%- endfor -%}

</div>
